html{
    height: 100%;
}
body {
    font-family: Consolas, Arial;
    padding: 0;
    background: #000 url(/images/background1.jpg);
    background-size: cover;
    background-position: 0 50%;
    position: relative;
    height: 100%;
    color: #fff;
}

#header {
    height: 205px;
    background-size: cover;
    z-index:9;
}

#workarea{
    z-index: 9;
    position: relative;
}

#mainarea {
}

#footer{
    margin-top: 30px;
    height: 50px;
    position: relative;
}

.wrapper{
    width: 1200px;
    margin:0 auto;
    height: 100%;
}

.top-panel{
    background: rgba(8, 37, 74, 0.65);
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    box-shadow: 0px 8px 20px 0px #cdfcfa;
    z-index: 999;
}

@keyframes blur {
    from {
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #05ddde,
        0px 0px 150px #05ddde,
        0px 10px 100px #05ddde,
        0px -10px 100px #05ddde,
        0px -10px 100px #05ddde,
        0px 10px 100px #05ddde,
        0px 0px 50px #05ddde,
        0px 0px 50px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 10px #fff;
    }
}

.top-panel__menu{
    float: left;
}

.top-panel__menu ul{
    display: table;
    width: 100%;
    list-style: none;
    height: 50px;
    margin: 0;
}

.top-panel__menu ul li{
    display: table-cell;
    position: relative;
    text-align: center;
    list-style: none;
    margin-bottom: -1px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 10px;
}

.top-panel__menu ul li a{
    font-size: 1.25em;
    display: block;
    color: #f0feff;
    text-decoration: none;
}
.top-panel__menu ul li:hover{
    box-shadow: 0px 0px 15px 9px rgb(139, 243, 253);
    background: rgba(15, 28, 45, 0.55);
}

.top-panel__menu ul li:hover a {
    animation: blur .75s ease-out infinite;
}

.top-panel__login{
    height: 100%;
}

.top-panel__login a{
    display: block;
    height: 100%;
    float: right;
    padding: 15px 5px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.top-panel__login a:hover{
    animation: blur .75s ease-out infinite;
    color: transparent;
}

.separator{
    float: right;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.75);
    border-right: 1px solid rgba(92, 221, 252, 0.20);
    margin: 0 10px;
}

.left-menu {
    min-height: 200px;
    border-radius: 15px;
    background: rgb(12, 32, 64);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.67);
    padding: 10px 30px;
}

.left-menu h2{
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    color: #091221;
    text-shadow: -1px -1px #000, 0 1px 0 #2a474e;
}

.left-menu h2:first-child{
    margin-top: 0;
}

.left-menu .left-menu__item{
    padding: 5px 0;
}

.left-menu .left-menu__item:not(:nth-child(2)){
    border-top: 1px solid #071021;
}

.left-menu .left-menu__item:not(:last-child){
    border-bottom: 1px solid rgb(26, 51, 103);
}

.left-menu .left-menu__item a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: normal;
}


.heading {
    height: 51px;
    font-size: 15px;
    color: #560001;
    text-align: left;
    line-height: 51px;
    background-image: url(../images/rc.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.heading2 {
    font-size: 15px;
    font-weight: bold;
    font-family: "trebuchet ms";
    color: #A1181C;
}

#main {
    padding-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.add_test{
    position: relative;
    text-align: center;
}

.add_test .btn-add-question{
    background: rgba(0, 253, 255, 0.5);
}

.add_test .btn-add-question:hover{
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 255, 254, 0.53);
    text-shadow: 0 0 5px #fff;
}

a {
    color: #DE5202;
    font-weight: bold;
    text-decoration: underline;
}

#bottom {
    height: 40px;
    line-height: 40px;
    background-color: #B6B6B6;
    width: 769px;
    float: left;
}

.copy {
    clear: left;
    height: 28px;

    line-height: 28px;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 9;
}

.answer-group{
    position: relative;
    border: 1px solid rgba(16, 228, 241, 0.72);
    padding: 30px 20px 10px;
    margin: 35px 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: rgba(0, 255, 245, 0.32);
}

.answer-group:before{
    content: 'Ответы';
    position: absolute;
    top: -25px;
    font-size: 1.275em;
    left: -1px;
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    font-weight: bold;
    padding: 0 15px;
    border-top-right-radius: 15px;
}

.question-group{
    position: relative;
    border: 1px solid rgba(95, 206, 243, 0.82);
    padding: 30px 20px 10px;
    margin: 35px 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: rgba(7, 65, 107, 0.56);
}

.question-group:before{
    content: 'Вопросы';
    position: absolute;
    top: -25px;
    font-size: 1.275em;
    left: -1px;
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    font-weight: bold;
    padding: 0 15px;
    border-top-right-radius: 15px;
}

.btn-add-answ{
    margin: 10px 0;
    background: #6ae2ff;
    color: #14264b;
    font-weight: bolder;
    border: 3px solid #054552;
    text-transform: uppercase;
}

.btn-add-answ:hover{
    color: #054552;
    text-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px 2px #054552;
}