html {
    height: 100%;
}

body {
    font-family: Consolas, Arial;
    padding: 0;
    background: #000 url(/images/background1.jpg);
    background-size: cover;
    background-position: 0 50%;
    position: relative;
    height: 100%;
    color: #fff;
}

#header {
    height: 70px;
    background-size: cover;
    z-index: 9;
}

#workarea {
    z-index: 9;
    position: relative;
    min-height: 480px;
}

#mainarea {
}

#footer {
    margin-top: 30px;
    height: 50px;
    position: relative;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.footer{
    background: rgba(8, 37, 74, 0.65);
    box-shadow: 0px -5px 20px 0px #cdfcfa;
    z-index: 999;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.top-panel {
    background: rgba(8, 37, 74, 0.65);
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    box-shadow: 0px 8px 20px 0px #cdfcfa;
    z-index: 999;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #05ddde,
        0px 0px 150px #05ddde,
        0px 10px 100px #05ddde,
        0px -10px 100px #05ddde,
        0px -10px 100px #05ddde,
        0px 10px 100px #05ddde,
        0px 0px 50px #05ddde,
        0px 0px 50px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 10px #fff;
    }
}

.top-panel__menu {
    float: left;
}

.top-panel__menu ul {
    display: table;
    width: 100%;
    list-style: none;
    height: 50px;
    margin: 0;
}

.top-panel__menu ul li {
    display: table-cell;
    position: relative;
    text-align: center;
    list-style: none;
    margin-bottom: -1px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 10px;
}

.top-panel__menu ul li a {
    font-size: 1.25em;
    display: block;
    color: #f0feff;
    text-decoration: none;
}

.top-panel__menu ul li:hover {
    box-shadow: 0px 0px 15px 9px rgb(139, 243, 253);
    background: rgba(15, 28, 45, 0.55);
}

.top-panel__menu ul li:hover a {
    animation: blur .75s ease-out infinite;
}

.top-panel__login {
    height: 100%;
}

.top-panel__login a {
    display: block;
    height: 100%;
    float: right;
    padding: 15px 5px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.top-panel__login a:hover {
    animation: blur .75s ease-out infinite;
    color: transparent;
}

.separator {
    float: right;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.75);
    border-right: 1px solid rgba(92, 221, 252, 0.20);
    margin: 0 10px;
}

.left-menu {
    min-height: 200px;
    border-radius: 15px;
    background: rgb(12, 32, 64);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.67);
    padding: 10px 30px;
}

.left-menu h2 {
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    color: #091221;
    text-shadow: -1px -1px #000, 0 1px 0 #2a474e;
}

.left-menu h2:first-child {
    margin-top: 0;
}

.left-menu .left-menu__item {
    padding: 5px 0;
}

.left-menu .left-menu__item:not(:nth-child(2)) {
    border-top: 1px solid #071021;
}

.left-menu .left-menu__item:not(:last-child) {
    border-bottom: 1px solid rgb(26, 51, 103);
}

.left-menu .left-menu__item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: normal;
}

.heading {
    height: 51px;
    font-size: 15px;
    color: #560001;
    text-align: left;
    line-height: 51px;
    background-image: url(../images/rc.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.heading2 {
    font-size: 15px;
    font-weight: bold;
    font-family: "trebuchet ms";
    color: #A1181C;
}

#main {
    padding-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.add_test {
    position: relative;
    text-align: center;
}

.add_test .btn-add-question {
    background: rgba(0, 253, 255, 0.5);
}

.add_test .btn-add-question:hover {
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 255, 254, 0.53);
    text-shadow: 0 0 5px #fff;
}

a {
    color: #DE5202;
    font-weight: bold;
    text-decoration: underline;
}

#bottom {
    height: 40px;
    line-height: 40px;
    background-color: #B6B6B6;
    width: 769px;
    float: left;
}

.copy {
    clear: left;
    height: 28px;

    line-height: 28px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 9;
}

.answer-group {
    position: relative;
    border: 1px solid rgba(16, 228, 241, 0.72);
    padding: 30px 20px 10px;
    margin: 35px 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: rgba(0, 255, 245, 0.32);
}

.answer-group:before {
    content: 'Ответы';
    position: absolute;
    top: -25px;
    font-size: 1.275em;
    left: -1px;
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    font-weight: bold;
    padding: 0 15px;
    border-top-right-radius: 15px;
}

.question-group {
    position: relative;
    border: 1px solid rgba(95, 206, 243, 0.82);
    padding: 30px 20px 10px;
    margin: 35px 0 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: rgba(7, 65, 107, 0.56);
}

.question-group:before {
    content: 'Вопросы';
    position: absolute;
    top: -25px;
    font-size: 1.275em;
    left: -1px;
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    font-weight: bold;
    padding: 0 15px;
    border-top-right-radius: 15px;
}

.btn-add-answ,
.add_statti input[type="submit"]{
    margin: 10px 0;
    background: #6ae2ff;
    color: #14264b;
    font-weight: bolder;
    border: 3px solid #054552;
    text-transform: uppercase;
}

.add_statti input[type="submit"]{
    padding: 5px 10px;
}

.btn-add-answ:hover {
    color: #054552;
    text-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px 2px #054552;
}

.btn-save-test {
    margin-top: 20px;
    background: rgba(0, 88, 255, 0.82);
    width: 20%;
    font-size: 1.1em;
    color: rgb(11, 33, 68);
    text-transform: uppercase;
    box-shadow: inset 0 0 13px 3px #040e1b;
    border-top: 1px solid #88f5fb;
    border-bottom: 2px solid #0a111f;
    border-left: 2px solid #000;
    font-weight: 700;
    text-shadow: 0px -1px 0 #6ae2ff;
    border-right: 2px solid #88f5fb;
}

.btn-save-test:hover {
    background: rgba(8, 72, 193, 0.82);
    color: rgba(16, 132, 220, 0.8);
    border-top: 1px solid #255a5d;
    border-bottom: 2px solid #0a111f;
    border-left: 2px solid #000;
    border-right: 2px solid #255a5d;
    animation: blur .75s ease-out infinite;
}

.custom-control {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #0275d8;
}

.custom-control-input:focus ~ .custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0275d8;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0275d8;
}

.custom-control-input:active ~ .custom-control-indicator {
    color: #fff;
    background-color: #8fcafe;
}

.custom-control-input:disabled ~ .custom-control-indicator {
    cursor: not-allowed;
    background-color: #eceeef;
}

.custom-control-input:disabled ~ .custom-control-description {
    color: #636c72;
    cursor: not-allowed;
}

.custom-radio .custom-control-indicator {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-control-indicator {
    position: absolute;
    top: 0.25rem;
    left: 0;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
}

.custom-controls-stacked {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.custom-controls-stacked .custom-control {
    margin-bottom: 0.25rem;
}

.custom-controls-stacked .custom-control + .custom-control {
    margin-left: 0;
}

.test {

}

.test li {
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
}

.test li a {
    background: rgba(15, 203, 222, 0.86);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    border: none;
    text-decoration: none;
}

.test li.active a,
.test li.active a:hover {
    background-color: rgba(25, 234, 255, 0.98) !important;
    color: #fbfbfb !important;
    text-shadow: 0px 0px 0px #07b1ff;
    border: none !important;
    text-decoration: none !important;
}

.test .tab-content {
    background: rgba(24, 230, 252, 0.94);
    border: 1px solid #18e6fc;
    padding: 10px 20px;
    min-height: 150px;
}

.test .tab-content .question {
    color: #127782;
    font-weight: 700;
    text-shadow: 1px 1px 0px #bde8ec;
}

.test .test-final {
    background: rgb(15, 203, 222);
    color: #ffffff;
    text-shadow: 0px 0px 5px #1b507d;
    border: none;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}

.test .test-final:hover {
    background: rgb(123, 243, 255);
    box-shadow: 0 0 10px 3px #7bf3ff;
    text-shadow: 0 0 3px rgb(28, 148, 162);
}

.test .custom-control-description {
    color: #fff;
    text-shadow: 0 0 3px rgb(28, 148, 162);
}

.test-result-header {
    background: rgba(29, 86, 185, 0.69);
    padding: 10px;
    border-radius: 10px;
    color: #91f2fe;
    text-shadow: 1px 1px 0px #0d1d3e;
    font-size: 1.2em;
    font-weight: 800;
    box-shadow: -1px -1px 5px 0px #11203f;
}

.test-result {
    background: rgba(11, 26, 56, 0.9);
    margin: 10px 0;
    color: #76e4fa;
    text-shadow: 0 0 15px #fff;
    font-size: 1.2em;
    text-align: center;
}

.test-result th {
    text-align: center;
    border: 2px solid rgb(11, 26, 56) !important;
    box-shadow: inset 0 0 12px 5px #050d1f;
}

.test-result tr td {
    border: 2px solid rgb(11, 26, 56) !important;
    box-shadow: inset 0 0 12px 5px #050d1f;
}

.test-result tr td.success-answ{
    color: #32c01c;
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
    font-size: 1.2em;
    font-weight: 800;
}

.test-result tr td.error-answ{
    color: #ff0505;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-size: 1.2em;
    font-weight: 800;
}

.test-block{
    margin: 10px 0;
    background: rgba(0, 220, 255, 0.67);
    padding: 10px 20px;
    border-radius: 10px;
}

.test-block .test-name{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.25em;
    margin-bottom: 5px;
}

.test-block .test-desc{
    font-style: italic;
    margin: 0;
}

.test-block .test-go a{
    color: #6ae4ff;
    background: #000000;
    border: 2px solid #228DFF;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.2em;
    float: right;
    text-decoration: none;
}

.test-block .test-go:hover a{
    color: #fff;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.to-site a{
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    color: #091221;
    text-shadow: -1px -1px #000, 0 1px 0 #2a474e;
    text-decoration: none;
    background: rgba(0, 42, 132, 0.22);
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    box-shadow: 1px 1px 4px 1px #000;
}

.user-card,
.user-add{
    padding: 40px 20px;
    background: #051535;
    border-radius: 20px;
    color: #5ddbfa;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 1px 1px 0px #012427, -1px -1px 0px #2d4067;
    box-shadow: inset 1px 1px 8px 1px #04080e;
}

.user-card input[type='text'],
.user-card input[type='password'],
.user-add input[type='text'],
.user-add input[type='password']{
    background-color: #102a61 !important;
    margin-bottom: 10px;
    color: #41f7b5;
    text-shadow: 1px 1px 5px #0dff8e;
    border-bottom: 2px solid #041028;
    border-right: 2px solid #041028;
    box-shadow: inset 0px 0px 4px 0px #040b19;
}

.user-card input[type='text']:enabled,
.user-card input[type='password']:enabled,
.user-add input[type='text']:enabled,
.user-add input[type='password']:enabled{
    box-shadow: inset 0 0 10px 0 #064226;
    background-color: rgba(3, 255, 124, 0.47) !important;
    border-bottom: 2px solid #55f1c7;
    border-right: 2px solid #55f1c7;
    border-top: 2px solid #053e19;
    border-left: 2px solid #053e19;
    color: #1f8 !important;
}
.user-card label,
.user-add label{
    margin-bottom:0;
}

.user-card button,
.user-add button{
    padding: 5px;
    border: 2px solid #030e23;
    border-radius: 5px;
    color: #41f7b5 !important;
    text-shadow: 0px 0px 1px #00ff71;
    margin-top: 10px;
    box-shadow: inset 0 0 9px 1px #031029;
}

.user-card .edit,
.user-add .edit{
    background: rgba(32, 230, 189, 0.27);
}

.user-card .save,
.user-add .save{
    background: rgba(77, 226, 201, 0.27);
}

.user-card .save:enabled
.user-add .save:enabled{
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
}

.test-statistics{
    margin: 0;
    max-height: 500px;
    overflow-y: scroll;
}

.header-statistic{
    margin-top: 0;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.user-add .save{
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
    border: none;
    background: transparent;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #051535 !important;
}

.add-cat{
    background: rgba(98, 227, 253, 0.63);
    padding: 10px 15px;
    border-radius: 10px;
    color: #09224f;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.1em;
    text-shadow: 0 0 5px #d8f9ff;
}

.add-cat:hover{
    background: rgba(106, 230, 253, 0.74);
}

.add-cat-block {
    font-size: 14px;
    text-align: left;
    margin: 30px 0;
    position: relative;
}

.add-cat-block a:not(.del){
    color: #c1f4ff;
    background: rgba(19, 26, 42, 0.88);
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 30px;
    border-radius: 5px;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.add-cat-block a.del{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    color: #ffdfdf;
}

.unactive_info{
    margin-top: 15px;
    color: #d45757;
    background: #ffcaca;
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #9c2c2c;
}


.add-statti {

}

textarea {
    color: #000;
}

.statti{
    background: rgba(71, 198, 249, 0.82);
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-weight: 800;
    color: #fff;
}

.statti a{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    color: #11827d;
    background: rgba(255, 255, 255, 0.53);
    padding: 3px 10px;
    border-radius: 10px;
    margin-top: 15px;
}